.App-body {
  background-color: #282c34;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 170px;
  padding-bottom: 40px;
}

.sub-shelf {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-lg {
  padding: 50px;
  font-size: 150%;
}

.card {
  margin-top: 30px;
  background: lightgray;
}

.card-body {
  background: lightgray;
  color: rgb(34, 34, 34);
  margin-left: 20px;
  margin-right: 20px;
}

.card-header {
  background-color: #EB6864
}

.react-image {
  width: 20%;
}

.mongo-image {
  width: 20%;
  padding-right: 5%;
}

.multi-image {
  width: 35%;
  padding-left: 10%;
}

.node-image {
  padding-left: 5%;
  width: 20%
}

.bootstrap-image {
  width: 20%;
}

body, h1, h2, h3 {
  font-size: 200%;
}

h4, h5 {
  font-size: 125%;
}

h6 {
  font-size: 25px;
}

.about-padding {
  padding: 10px;
}