.card {
    border-radius: 2px #fff;
    margin: 1rem;
    position: relative;
    text-align: center;
    width: 350px;
    height: 100%;
  }
  
  .card > .img-container {
    /* height: 60%; */
    overflow: hidden;
    text-align: center;
  }
  
  .card > .img-container > img {
    /* width: 60% */
  }

  .owner-background {
    background: transparent;
    border: none;
    text-align: center;
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }

  .content {
    color: pink;
  }