.list-overflow-container {
  max-height: 545px;
  border: 1px rgb(204, 46, 73);
  padding-top: 40px;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-left: none;
  border-right: none;
  background: lightgray;
  margin: 5px;
}

.list-group {
  color: white;
}

.list-group-item {
  color: white;
  font-display: bold;
}
