.list-overflow-container {
  max-height: 545px;
  border: 1px rgb(204, 46, 73);
  border-radius: 4px;
  padding-top: 40px;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
  background: rgb(204, 46, 73);
  margin: 5px;
}

.list-group {
  color: white;
}

