.list-overflow-container {
  max-height: 325px;
  border: 1px rgb(204, 46, 73);
  padding-top: 10px;
  margin: 1rem;
  position: relative;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-left: none;
  border-right: none;
  background: lightgray;
  margin: 5px;
}

.list-group {
  margin: 1rem;
  position: relative;
  text-align: center;
}

.list-group-item {
  font-display: bold;
  text-align: center;
  background: transparent;
  border: transparent;
}
